<div class="dual-lang"></div>
<%= render 'catalog/isad/en/isad_identity' %>
<%= render 'catalog/isad/en/isad_context' %>
<%= render 'catalog/isad/en/isad_content' %>
<%= render 'catalog/isad/en/isad_access' %>
<%= render 'catalog/isad/en/isad_allied_materials' %>
<%= render 'catalog/isad/en/isad_notes' %>
<%= render 'catalog/isad/en/isad_description_control' %>