<div class="dual-lang"></div>
<%= render 'catalog/isad/hu/isad_identity' %>
<%= render 'catalog/isad/hu/isad_context' %>
<%= render 'catalog/isad/hu/isad_content' %>
<%= render 'catalog/isad/hu/isad_access' %>
<%= render 'catalog/isad/hu/isad_allied_materials' %>
<%= render 'catalog/isad/hu/isad_notes' %>
<%= render 'catalog/isad/hu/isad_description_control' %>
