<% lang ||= @lang %>

<div class="dual-lang"></div>
<%= render 'catalog/isad/lang/isad_identity', :lang => lang %>
<%= render 'catalog/isad/lang/isad_context', :lang => lang %>
<%= render 'catalog/isad/lang/isad_content', :lang => lang %>
<%= render 'catalog/isad/lang/isad_access', :lang => lang %>
<%= render 'catalog/isad/lang/isad_allied_materials', :lang => lang %>
<%= render 'catalog/isad/lang/isad_notes', :lang => lang %>
<%= render 'catalog/isad/lang/isad_description_control', :lang => lang %>