<% document ||= @document %>
<% referenceCode_field = render_isad_field(document, "referenceCode", "Reference code") %>
<% title_field = render_isad_field(document, "title", "Title") %>
<% date_field = render_isad_dates(document) %>
<% descriptionLevel_field = render_isad_field(document, "descriptionLevel", "Description level", capitalize: true) %>
<% extentEstimated_field = render_isad_field(document, "extent_estimated", "Extent and medium (estimated)") %>
<% extent_field = render_isad_field(document, "extent", "Extent and medium (processed)", separator: "<br/>") %>

<% if referenceCode_field != "" ||
      title_field != "" ||
      date_field != "" ||
      descriptionLevel_field != "" ||
      extentEstimated_field != "" ||
      extent_field != "" %>
  <h4 class="show-page-section"><i class="fa fa-info"></i>Identity statement</h4>
  <dl class="dl-horizontal dl-invert data-details">

    <%= referenceCode_field %>
    <%= title_field %>
    <%= date_field %>
    <%= descriptionLevel_field %>
    <%= extentEstimated_field %>
    <%= extent_field %>

  </dl>
<% end %>
