<nav class="navbar navbar-static-top navbar-default navbar-header-full navbar-dark yamm" role="navigation" id="header">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">OSA <span>Catalog</span></a>
        </div> <!-- navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menu-list">
                <li class="menu">
                  <% if current_page?(controller: 'browse', action: 'fondslist') %>
                    <span class="menu-icon current">
                      OSA Collections
                    </span>
                  <% else %>
                    <a href="/browse/fondslist" class="menu-icon" >
                      OSA Collections
                    </a>
                  <% end %>
                </li>
                <li class="dropdown">
                  <a href="javascript:void(0);" class="dropdown-toggle menu-icon" data-toggle="dropdown">
                    <% if current_page?(controller: 'browse', action: 'authors') %>
                      Authors [A - Z]
                    <% elsif current_page?(controller: 'browse', action: 'directors') %>
                      Directors [A - Z]
                    <% elsif current_page?(controller: 'browse', action: 'languages') %>
                      Languages [A - Z]
                    <% elsif current_page?(controller: 'browse', action: 'library_collections') %>
                      Library Special Collections
                    <% else %>
                      Browse
                    <% end %>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li>
                      <a href="<%= browse_authors_path %>">Authors</a>
                    </li>
                    <li>
                      <a href="<%= browse_directors_path %>">Directors</a>
                    </li>
                    <li>
                      <a href="<%= browse_languages_path %>">Languages</a>
                    </li>
                    <li>
                      <a href="<%= browse_library_collections_path %>">Library Special Collections</a>
                    </li>
                    <li>
                      <a href="<%= browse_digital_collections_path %>">Digital Collections</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="javascript:void(0);" class="dropdown-toggle menu-icon" data-toggle="dropdown">
                    Visualization
                  </a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li>
                      <a href="<%= drtimeline_index_path %>">Digital Collection Timeline</a>
                    </li>
                  </ul>
                </li>
                <%= render_nav_actions do |config, action|%>
                  <li class="menu">
                    <%= action %>
                  </li>
                <% end %>
              </ul>
              <ul class="nav navbar-nav menu-list pull-right">
                <li class="menu">
                  <% if current_page?(controller: 'browse', action: 'privacy_policy') %>
                      <span class="menu-icon current">
                        Privacy Policy
                      </span>
                  <% else %>
                      <a href="/browse/privacy_policy" class="menu-icon" >
                        Privacy Policy
                      </a>
                  <% end %>
                </li>
              </ul>
        </div><!-- navbar-collapse -->

    </div>
</nav>
