<div class="document-data">

  <% document_actions = capture do %>
      <% # bookmark functions for items/docs -%>
      <%= render_index_doc_actions document %>
  <% end %>

  <div class="select-item">
    <%= document_actions %>
  </div>

  <div class="title-display">
    <% if counter = document_counter_with_offset(document_counter) %>
        <!--<%= render_type_icon document[document.type_field] %>-->
      <span class="document-counter">
        <%= t('blacklight.search.documents.counter', counter: counter) %>
      </span>
    <% end %>

    <% if params[:view] == "gallery" %>
        <%= link_to_document document, truncate(get_fa_title(document)), :counter => counter %>
    <% else %>
        <%= link_to_document document, get_fa_title(document), :counter => counter %>
    <% end %>
    <span class="document-date"><%= get_fa_title_date(document) %></span>
  </div>

  <%# default partial to display solr document fields in catalog index view -%>
  <% if document[:series_name].present? %>
      <span class="index-series"><span class="series"><%= document[:series_name].html_safe %></span></span>
  <% end %>

  <div class="data-block">
      <% if document[:primary_type].present? %>
          <span class="index-format">
            <%= render_type_icon(document[document.type_field]) %>
            <%= document[:primary_type].html_safe %><% if document[:duration].present? %>, <%= document[:duration].html_safe %><% end %>
          </span>
      <% end %>
      <% if document[:title_original].present? %>
          <span class="index-original-title">Original Title: <%= document[:title_original].html_safe %></span>
      <% end %>
      <% if document[:description_level].present? %>
          <span class="index-level">Description Level: <%= document[:description_level].html_safe %></span>
      <% end %>
      <% if document[:container_type].present? %>
          <span class="index-container-type">Container: <%= document[:container_type].html_safe %></span>
      <% end %>
      <p class="index-available">
	  <% if document[:digital_version_exists].present? %>
            <span class="label label-danger">Digital version available | <%= document[:digital_version_barcode] %></span>
          <% else %>
            <span class="label label-available">Available in the Research Room</span>
          <% end %>
      </p>
  </div>
</div>
