<%# default partial to display solr document fields in catalog index view -%>
  <% if document[:series_name].present? %>
    <span class="index-series"><span class="series"><%= document[:series_name].html_safe %></span></span>
  <% end %>

  <div class="data-block">
    <% if document[:primary_type].present? %>
      <span class="index-format"><%= render_type_icon(document[document.type_field]) %> <%= document[:primary_type].html_safe %></span>
    <% end %>
    <% if document[:title_original].present? %>
        <span class="index-original-title">Original Title: <%= document[:title_original].html_safe %></span>
    <% end %>
    <% if document[:description_level].present? %>
      <span class="index-level">Description Level: <%= document[:description_level].html_safe %></span>
    <% end %>
    <% if document[:container_type].present? %>
      <span class="index-container-type">Container: <%= document[:container_type].html_safe %></span>
    <% end %>
    <p class="index-available">
        Available: <span class="label label-available">In the Research Room</span>
    </p>
  </div>
</div>
