<div class="document-show col-md-10">
  <div class="row">
    <div class="col-xs-12">
      <% languages = collect_fa_languages(document) %>
      <% if languages.length > 1 %>
          <ul class="nav nav-pills change-language pull-right">
            <% languages.each_with_index do |lang, index| %>
                <li class="<%= index == 0 ? "active" : "" %>"><a href="#<%= lang %>" data-toggle="tab"><%= ISO_639.find(lang).english_name %></a></li>
            <% end %>
          </ul>
      <% end %>

      <div class="tab-content">
        <% languages.each do |lang| %>
          <div class="tab-pane fade in <%= lang == 'en' ? 'active' : '' %>" id="<%= lang %>">
            <% if document["primary_type"] == "Textual" %>
                <%= render 'catalog/record/fa_textual_general_information', :language => lang %>
                <%= render 'catalog/record/fa_textual_content', :language => lang %>
                <%= render 'catalog/record/fa_textual_context', :language => lang %>
                <%= render 'catalog/record/fa_textual_coverage', :language => lang %>
                <%= render 'catalog/record/fa_textual_access', :language => lang %>
            <% elsif document["primary_type"] == "Moving Image" %>
                <%= render 'catalog/record/fa_moving_image_general_information', :language => lang %>
                <%= render 'catalog/record/fa_moving_image_context', :language => lang %>
            <% elsif document["primary_type"] == "Electronic Record" %>
                <%= render 'catalog/record/fa_er_general_information', :language => lang %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
