<div class="document-data">

  <% document_actions = capture do %>
      <% # bookmark functions for items/docs -%>
      <%= render_index_doc_actions document %>
  <% end %>

  <div class="select-item">
    <%= document_actions %>
  </div>

  <div class="title-display">
    <% if counter = document_counter_with_offset(document_counter) %>
        <!--<%= render_type_icon document[document.type_field] %>-->
      <span class="document-counter">
        <%= t('blacklight.search.documents.counter', counter: counter) %>
      </span>
    <% end %>

    <% if params[:view] == "gallery" %>
        <%= link_to_document document, truncate(get_dr_title(document)), :counter => counter %>
    <% else %>
        <%= link_to_document document, get_dr_title(document), :counter => counter %>
    <% end %>
    <span class="document-date"><%= get_dr_date(document) %></span>
  </div>

  <%# default partial to display solr document fields in catalog index view -%>
  <% if document[:creator].present? %>
    <span class="index-author">created by <span class="author"><%= document[:creator].join('; ').html_safe %></span></span>
  <% end %>

  <% if document[:digital_collection].present? %>
    <span class="index-series"><span class="series"><%= document[:digital_collection].html_safe %></span></span>
  <% end %>

  <div class="data-block">
    <% if document[:primary_type].present? %>
      <span class="index-format"><%= render_type_icon(document[document.type_field]) %> <%= document[:primary_type].html_safe %></span>
    <% end %>
    <% if document[:description_level].present? %>
      <span class="index-level">Description Level: <%= document[:description_level].html_safe %></span>
    <% end %>
    <% if document[:language].present? %>
      <span class="index-language">Language: <%= document[:language].join(', ').html_safe %></span>
    <% end %>
    <p class="index-available">
      <span class="label label-available">Available Online</span>
    </p>  </div>
</div>
