<%# default partial to display solr document fields in catalog index view -%>
  <% if document[:director].present? %>
    <span class="index-author">directed by <span class="author"><%= document[:director].join('; ').html_safe %></span></span>
  <% end %>

  <div class="data-block">
    <% if document[:primary_type].present? %>
      <span class="index-format"><%= render_type_icon(document[document.type_field]) %> <%= document[:primary_type].html_safe %></span>
    <% end %>
    <% if document[:extent].present? %>
      <span class="index-extent"><%= document[:extent].join(', ').html_safe %></span>
    <% end %>
    <% if document[:publisher].present? %>
      <span class="index-publisher"><%= document[:publisher].join(', ').html_safe %></span>
    <% end %>
    <p class="index-available">
      <span class="label label-available">Available in the Research Room</span>
    </p>
  </div>
</div>
