<div class="documentHeader">
  <div class="callnumber-bar">
      <% if document[:container_number] %>
        in HU OSA <%= document[:series_reference_code] %>/<%= document[:container_number] %>-<%= document[:sequence_number] %>
      <% else %>
        <% if document[:reference_code] %>
          <%= document[:reference_code] %>
        <% else %>
          in HU OSA <%= document[:series_reference_code] %>-<%= document[:sequence_number] %>
        <% end %>
      <% end %>
  </div>
  <h3 class="index_title">
    <% if counter = document_counter_with_offset(document_counter) %>
      <span class="document-counter">
        <%= t('blacklight.search.documents.counter', counter: counter) %>
      </span>
    <% end %>
    <%= link_to_document document, truncate(get_main_title(document), length: 50), counter: counter %>
    <br/>
  </h3>
  <div class="gallery-fa-type"><%= document[:description_level]%></div>
</div>
