  <div class="cover col-md-10">
    <%= render 'catalog/record/library_general_information' %>
    <%= render 'catalog/record/library_contributors' %>
    <%= render 'catalog/record/library_contents_summary' %>
    <%= render 'catalog/record/library_subjects' %>
    <%= render 'catalog/record/library_bibliographic' %>
    <%= render 'catalog/record/library_holdings' %>
  </div>
</div>
