<% document ||= @document %>
<% lang ||= @lang %>

<% label = render_group_label("alliedMaterials", lang: lang) %>
<% locationOfOriginals_field = render_related_units(document, "locationOfOriginals", :lang => lang) %>
<% locationOfCopies_field = render_related_units(document, "locationOfCopies", :lang => lang) %>
<% relatedUnits_field = render_related_units(document, "relatedUnits", :lang => lang) %>
<% publicationNote_field = render_isad_field(document, "publicationNote", :lang => lang) %>

<% if locationOfOriginals_field != "" ||
      locationOfCopies_field != "" ||
      relatedUnits_field != "" ||
      publicationNote_field != "" %>

  <h4 class="show-page-section"><i class="fa fa-paperclip"></i><%= label %></h4>
  <dl class="dl-horizontal dl-invert data-details">

    <%= locationOfOriginals_field %>
    <%= locationOfCopies_field %>
    <%= relatedUnits_field %>
    <%= publicationNote_field %>

  </dl>
<% end %>
