<% document ||= @document %>
<% level = render_fa_field(document, "level", "Level") %>
<% title_original = render_fa_field(document, "titleOriginal", "Original Title") %>
<% primary_type = render_fa_field(document, "primaryType", "Primary Type", capitalize: true) %>
<% container_type = document[:container_type] %>
<% container_number = document[:container_number] %>
<% sequence_number = document[:sequence_number] %>
<% series_name = document[:series_name] %>
<% series_id = document[:series_id] %>
<% dates = render_fa_date_field(document) %>
<% notes = render_fa_field(document, "note", "Notes") %>

<h4 class="show-page-section"><i class="fa fa-info"></i>General information</h4>
<dl class="dl-horizontal dl-invert data-details">
  <dt>Part of series</dt>
  <dd><%= link_to(series_name, catalog_path(series_id)) %></dd>

  <dt>Located at</dt>
  <dd><%= container_type %> #<%= container_number %> / No. <%= sequence_number %></dd>

  <%= title_original %>

  <%= dates %>

  <%= level %>
  <%= primary_type %>
  <%= notes %>

</dl>
